<h1> Hello, it seems you've made a mistake... You don't have access to this account or project</h1>
<br>
Don't have an account? <a href="/users/signup">Sign up!</a>
<br>
Already have an account? <a href="/login">Login</a>
<br>
Return to your account <a href='/users/<%=session[:user_id]%>'>Home</a> 
