
<h1>Login page</h1>
<form action='/login' method="POST">

Username:<input type="text" name = "username">
<br>
Password:<input type="password" name= "password">
<br>
<input type="submit" value= "Login">

<br>

Don't have an account? <a href="/users/signup">Sign up!</a>

<form>  
