<h1>Sorry.. there was a problem</h1>
If all required fields are field out, then the username is already taken
Otherwise fill out all required fields
<br>
Try again? <a href="/users/signup"> Sign Up </a>
<br>
Already have an account? <a href="/login">Login</a>