 Welcome to the Project Architect, <%= @user.username %>. This application will allow you to keep a log of your project ideas. 
 <br>
 <br>
 
 <a href='/projects/new'>Create new Project </a>
 <br>
<a href="/projects">Your Projects </a>
<br>
<a href="/logout">Log Out</a>
