 
   
<h1>Project Builder</h1>
<br>
<h2>Sign up </h2>
*required field
<br>
<br>
<form action='/users/signup' method="POST">
*Email:<input type="text" name = "email" autocomplete="off">
<br>

*Username:<input type="text" name = "username" autocomplete="off">
<br>

*Password:<input type="password" name= "password">
<br>
<label> *Password Confirmation </label>
   <input type=password name="password_confirmation">
<br>
<input type="submit">
<div class="flash_alert">
        <% if flash[:alert] %>
        <%= flash[:alert] %>
        <% end %>
    </div>

<br>
Already have an account? <a href="/login">Login</a>
</form>