<h1>This is the sign up page</h1>
*required field
<br>
<br>
<form action='/users/signup' method="POST">
Email:<input type="text" name = "email" autocomplete="off">
<br>
<br>
*Username:<input type="text" name = "username" autocomplete="off">
<br>
<br>
*Password:<input type="password" name= "password">
<br>
<br>
<input type="submit">
<br>
<br>
Already have an account? <a href="/login">Login</a>
</form>