<% @projects.each do |project| %>
Project Number:<%=project.id%>
<br>
Project Name:<%=project.name%>
<br>
Project Rating:<%=project.rating%>
<br>
<br>
<%end%>

<form method="post" action="/projects">
<input id= "hidden" type="hidden" name="_method" value="DELETE">
  <input type = "submit" value="delete">
  </form>