<a href='/users/<%=session[:user_id]%>'>Home</a> 
<h1>Create a new Project Idea</h1>
<form action="/projects" method="POST">
  Project Idea Name: <input type="text" name="name">
  <br>
  On a scale from 1-10:
  <br>
  How comfortable are you with your current skillset making your project idea a reality? <input type= "text" id="comfort" name="comfort">
  <br>
   How excited are you about your project idea?<input type= "text" id="passion" name="passion">
  <br>
   How sure are you that you'll turn your idea into a reality by your project deadline? <input type= "text" id="deadline" name="deadline">
   <br>
    Give a brief description of your project.
    <br>
    <textarea name="description" cols="40" rows="5"></textarea>

    <br>
   <input type="hidden" name="rating">
   <br>
   <input type="submit">
  </form>